importFrom (abind, abind)
importFrom("graphics", "abline", "hist", "lines", "mtext", "par",
           "plot", "points", "segments", "legend")
importFrom("stats", "coef", "logLik", "pgamma", "predict", "qnorm", "quantile",
           "terms", "uniroot", "optimize", "approx", "dist")
importFrom("utils", "flush.console", "packageDescription", "packageVersion")
import (parallel)
import (secr)
export (make.scenarios)
export (scenariosFromStatistics)
export (run.scenarios)
export (fit.models)
export (select.stats)
export (validate)
export (find.param)
export (find.stats)
export (make.array)
export (header)
export (Lambda)
export (Enrm)
export (getdetectpar)
export (minnrRSE)
export (optimalSpacing)
export (costing)
export (scenarioSummary)
export (saturation)
S3method (plot, optimalSpacing)
S3method (print, optimalSpacing)
S3method (print, summarysecrdesign)
S3method (summary, secrdesign)
S3method (summary, rawdata)
S3method (summary, estimatetables)
S3method (summary, selectedstatistics)
S3method (plot, selectedstatistics)
S3method (coef, fittedmodels)
S3method (predict, fittedmodels)
S3method (derived, fittedmodels)
S3method (region.N, fittedmodels)
useDynLib (secrdesign, .registration = TRUE)

