importFrom (abind, abind)
import (parallel)
import (secr)
export (make.scenarios)
export (run.scenarios)
export (fit.models)
export (select.stats)
export (validate)
export (find.param)
export (find.stats)
export (make.array)
export (header)
export (derived.SL)
export (regionN.SL)
S3method (print, summarysecrdesign)
S3method (summary, secrdesign)
S3method (summary, rawdata)
S3method (summary, estimatetables)
S3method (summary, selectedstatistics)
S3method (plot, selectedstatistics)
S3method (predict, fittedmodels)
S3method (coef, fittedmodels)
